*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/
a,a:hover{
	text-decoration: none;
}
ul {margin: 0;
	padding: 0;
}
.container{
	width: 1140px;
	margin: 0 auto;

}
/*banner section css start*/
.banner{
	width: 100%;
	height:735px;
	background: url(img/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.navbar{
	display: flex;
	justify-content: space-between;
}
.header{
	 padding: 26px 0px;
}
.right{
	text-align: right;
}
.down-menu{
	padding: 20px 0px;
}
.down-menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 16px;
	position: relative;
}
.down-menu ul li::before{
	 content: '';
	 position: absolute;
	 height: 5px;
	 /*width: 100%;*/
	 width: 0%;
	 background:green;
	 bottom: 0;
	 left: 0;

	 transition: 0.5s;
}
.down-menu ul li:hover::before{
	width: 100%;
transition: 0.5s;
}
.down-menu ul li:hover::after{
	width: 100%;
transition: 0.5s;
}
.down-menu ul li::after{
	 content: '';
	 position: absolute;
	 height: 5px;
	/* width: 100%;*/
	width: 0%;
	 background:red;
	 top: 0;
	 /*left: 0;*/
	 right: 0;
}
.down-menu ul li a{
	text-transform: uppercase;
	font-family: font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	color: #3d2514;
	/*margin-left: 16px;*/

}
.upper-logo-contact span{
	font-family:font-family: 'Montserrat', sans-serif;
	color: #3d2514;
	font-size: 16px;
	font-weight: 600;
	margin-left: 16px;
	/*padding-left: 16px;*/
	vertical-align: middle;
}
.upper-logo-contact img{
	vertical-align: middle;
}

.content{
	display: flex;
	justify-content: space-between;
}
.b-right img{
	max-width: 100%;
	height: auto;
}
.b-left{
	flex-basis: 50%;
	margin: 50px;
}
.b-right{
	flex-basis: 50%;
	position: relative;
}
.price-tag{
	position: absolute;
	bottom: -45px;
    left: -8px;
    
}
.price-tag img{
	max-width: 100%;
}


.b-left p{
	font-family: font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	color: #3d2514;
	border: 3px dashed #3d2514 ;
	 display: inline-block;
	padding: 8px 15px;
}
.b-left h1{
	font-family: 'Alfa Slab One', cursive;
	 font-size: 110px;
	 color: #3d2514;
	 text-transform: uppercase;
	 letter-spacing: 3px;
	 text-shadow: 4px 4px #ede8e8;
}
.b-left h2{
	font-family: 'Alfa Slab One', cursive;
	 font-size: 50px;
	 color: #3d2514;
	 text-transform: uppercase;
	 letter-spacing: 3px;
	 text-shadow: 2px 2px #ede8e8;
	 line-height: 30px;
}
/*part 2 start*/
.services{
	width: 100%;
	padding: 60px 0px;
}
.service-item{
	display: flex;
}
.service-item img{
	max-width: 100%;
	height: auto;
}
.s-left{
	flex-basis: 50%;
}
.s-right{
	flex-basis: 50%;
}
.s-content{
	margin: 16px;
	position: relative;
}
.img-text{
	position: absolute;
	top: 32px;
	left: 36px;
}
.img-text h3{
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-size: 28px;

}
.img-text h2{
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-size: 36px;
	letter-spacing: 1px;

}
.s-line{
	/*margin-right: 220px;*/
	width: 150px;
line-height: 32px;
}
.second{
	margin-bottom: 28px;
}
	/*part3 start*/

 .burger-gallery{
 	width: 100%;
 	padding: 60px 0px;
 }
 .gallery-title{
 	text-align: center;
 }
 .alert{
 	background: #ffc045;
 	font-family: 'Bebas Neue', cursive;
 	font-size: 25px;
 	text-transform: uppercase;
 	padding: 6px 14px;

 }
 .gallery-title h2{
 	font-family: 'Alfa Slab One', cursive;
 	font-size: 50px;
 	text-transform: uppercase;
 	color: #3d2514;
 	margin: 20px 0;

 }
 .gallery-title p{
 	font-family: 'Montserrat', sans-serif;
 	font-size: 16px;
 	color: #3d2514;
 	margin: 0 32px;
 }
 .gallery-items{
 	display: flex;
 	margin: 52px 0;

 }
 .item1{
text-align: center;
 }
 .item1 img{
 	max-width: 100%;
 	height: auto;


 }
 .item1 h3{
 	font-family: 'Bebas Neue', cursive;
 	font-size: 38px;
 	text-transform: uppercase;
 	color: #3d2514;

 }
 .item1 p{
 	font-family: 'Montserrat', sans-serif;
 	font-size: 16px;
 	color: #3d2514;
 	margin: 32px 0px;

 }
 .item1 button{
 	font-family: 'Alfa Slab One', cursive;
 	font-size: 16px;
 	/*color: white;*/
 	color: #bf2222;
 	background-color:transparent;
 	/*background: #bf2222;*/
 	text-transform: uppercase;
 	padding: 14px 32px;
    /*border: none;*/
    position: relative;
    border: 2px solid #bf2222;
    z-index: 9999;
 }
 
 .item1 button::before{
 	content: '';
 	width: 0%;
 	height: 100%;
 	 background-color: #bf2222;
 	 position: absolute;
 	top: 0;
 	left: 0;
 	z-index: -1;
 	transition: 0.5s;
 	border-top-right-radius: 50%;
 	border-bottom-right-radius: 50%;


 }
   .item1 button:hover{
 	color: white;
 }
  .item1 button:hover::before{
 	cursor: pointer;
 	width: 100%;
 	transition: 0.5s;
 	/*border-top-right-radius: 0%;
 	border-bottom-right-radius: 0%;*/
/**/

 }
 
  .item1 img:hover{
  	transform: scale(1.2);
  }
  /*part 3 end*/
  /*part 4 start*/
  .slider-section{
  	width: 100%;
  	padding: 30px 0px;
  }
  .slider-content{
  	/*display: flex;*/
  	padding: 5px;
  	box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
  }
  .s-content{
  	display: flex;
  	/*slider use korar jonno new claas use korsi*/
  }
  .slider-left,.slider-right{
  	flex-basis: 50%;
  }
  .slider-right img{
  	max-width: 100%;
  	height: auto;
  }
  .slider-left h5{
  	font-family: 'Bebas Neue', cursive;
 	font-size: 28px;
 	color: #3d3d3d;
 	text-transform: uppercase;
 	letter-spacing: 1px;

  }
  .slider-left h2{
  	font-family: 'Alfa Slab One', cursive;
 	font-size: 42px;
 	text-transform: uppercase;
 	color: #3d2514;
 	letter-spacing: 1px;
 	/*margin: 16px 0px;*/
 	margin-bottom: 16px;

  }
  .slider-left p{
  	font-family: 'Montserrat', sans-serif;
 	font-size: 21px;
 	color: #3d2514;

  }
  .owl-theme .owl-nav {
    margin-top: 10px;
    display: none;
}
.owl-dots{
	position: absolute;
	left: 20px;
	bottom: 15px;
}
 
 .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
     background: #ffc045 !important;
}

.table-book{
	padding: 60px 0px;
	width: 100%;
	height: 820px;
	background: url(img/bur6.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.table{

}
.headline{
	text-align: center;
}
.part1{
	text-align: center;
}
.part2{
	text-align: center;
}
.headline h3{
		font-family: 'Montserrat', sans-serif;
 	font-size: 21px;
 	color: #3d2514;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 padding-bottom: 57px;

}
.headline h2{
	font-family: 'Alfa Slab One', cursive;
 	font-size: 55px;
 	text-transform: uppercase;
 	color: #3d2514;
 	letter-spacing: 5px;
 	margin-bottom: 65px;
}
.part1 form input{
	padding: 16px ;
	width: 320px;
	text-transform: uppercase;
	border-radius: 5px;
	margin: 15px 10px;
    font-family: 'Bebas Neue', cursive;
 	font-size: 20px;
 	color: #3d3d3d;
 	border:1px solid #bebebe;



}
.part2 form input{
	padding: 16px ;
	width: 320px;
	text-transform: uppercase;
	border-radius: 5px;
	margin: 15px 10px;
    font-family: 'Bebas Neue', cursive;
 	font-size: 20px;
 	color: #3d3d3d;
 	margin-right: 20px;
 	border:1px solid #bebebe;


}
.btn{
	padding:16px ;
	width: 320px;
	text-transform: uppercase;
	margin-right: 9px;
	font-family: 'Alfa Slab One', cursive;
 	font-size: 20px;
 	color: #ffffff;
 	background: #bf2222;
 	border: none;
    border-radius: 5px;

}
.btn:hover{
	cursor: pointer;
	background: #292640;
}
.fotter{
	 
 	padding: 60px 0px;
	 max-width: 100%;
	 height: 500px;
	background: url(img/background1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px 50px;
margin-top: -85px;
}
 .fotter-item{
 	display: flex;

 
 }
 .f-left p{

font-family: 'Montserrat', sans-serif;
 	font-size: 16px;
 	color:white;
 	margin-bottom: 170px;
 	margin-top: 40px;
  margin-right: 51px;
}
 
.f-left,.f-right{
	 
	flex-basis: 50%;
}
 /*.right{
 	vertical-align: bottom;
 	align-items: flex-end;
 }*/
 .f-right span{
 	 font-family: 'Bebas Neue', cursive;
 	font-size: 16px;
 	color:white;

 }
 .f-right a i{
 	
   width: 52px;
   color: #f9fbfb;
   font-size: 25px;
  line-height: 40px;
 }
 .social{
 	 /*vertical-align: bottom;*/
 	margin-top: 135px;
    margin-left: 215px;
 }
 .copyright{
 	display: flex;
 	justify-content: space-between;
 }
 .c-left p{
 	 font-family: 'Bebas Neue', cursive;
 	font-size: 16px;
 	color:white;
 }
 .c-right a i{
 	height:30px;
	width: 30px;
	color: black;
	text-align: center;
	 	line-height: 25px;
	border-radius: 100%;
	border: 3px solid white;
	background: white;
	margin-left: 10px;
 /*	 height: 10px;
width: 30px;
line-height: 10px;
color: #f9fbfb;
font-size: 20px;
border-radius: 100%;
	border: 20px solid red;
	 */
 }
 .c-right a i:hover{
 	 color:#cf3039;
 }
 .fotter{
 	margin-bottom: 80px;
 	 
 }